.drag-handle {
	cursor: move;
	padding: 0 5px;
	font-size: 18px;
	color: var(--wp-admin-theme-color-secondary);
}

.wp-list-table .manage-column.column-drag_handle {
	width: 24px;
	color: var(--wp-admin-theme-color-secondary);
	padding-left: 14px;
}
